html {
  font-size: 16px;
}
body {
  font-family: "Helvetica", sans-serif;
}
/*--->>> Header <<<---*/

@media only screen and (min-width: 560px) {
  .mobile {
    display: none;
  }
}
header {
  display: flex;
  background-color: #ffffff;
  color: #000000;
  height: 4rem;
  width: 100%;
  align-items: center;
  top: 0;
  justify-content: space-between;
  position: fixed;
}
.desktop {
  display: flex;
  padding-right: 1.25rem;
}
.logo {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  font-size: 1rem;
}
.academy {
  color: #d3d3d3;
}
a {
  text-decoration: none;
  color: #000000;
  padding-left: 1rem;
}
a:hover {
  color: #b0c4de;
}
@media only screen and (max-width: 560px) {
  header {
    display: none;
  }
  .mobile {
    display: flex;
    background-color: #ffffff;
    height: 4rem;
    width: 100%;
    align-items: center;
    top: 0;
    justify-content: space-between;
    position: fixed;
  }
}

/*--->>> Main Content <<<---*/

/*--->>> Section Banner <<<---*/

.banner {
  background-color: #d3d3d3;
}
.container {
  max-width: 1260px;
  margin: 0 auto;
  overflow: hidden;
}
.main {
  display: flex;
  flex-direction: row;
  padding-top: 64px;
  margin-left: 0;
}
.image-banner {
  width: 60%;
  padding: 2rem 2.5rem 2rem 1.5rem;
}
.image-banner img {
  max-width: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: #808080;
  width: 423px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.content h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.content p {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}
.button a {
  display: flex;
  justify-content: center;
  color: #ffffff;
  text-align: center;
  background-color: #696969;
  font-size: 1.5rem;
  margin-top: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.button a:hover {
  background-color: #b0c4de;
}
@media only screen and (max-width: 560px) {
  .image-banner {
    display: none;
  }
  .content h1 {
    font-size: 2rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  .content p {
    font-size: 1.5rem;
    padding-top: 0;
    margin-top: 0;
    padding-left: 1rem;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .button {
    margin-top: 0;
    padding: 0 1rem 1rem 1rem;
  }
}

/*--->>> Section News <<<---*/

.news {
  display: flex;
  flex-direction: row;
  margin-left: 0;
}
.image-news {
  width: 60%;
  padding: 2rem 2.5rem 2rem 1.5rem;
}
.image-news img {
  max-width: 100%;
}
.image-news h1 {
  color: #808080;
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}
.image-news p {
  color: #808080;
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 2rem;
  line-height: 1.2;
  font-style: italic;
}
.image-news span {
  color: #808080;
  font-size: .8rem;
  font-weight: bold;
}
.articles {
  display: flex;
  flex-direction: column;
  width: 423px;
  margin-top: 2rem;
  align-content: center;
  border-left: solid;
  border-color: #d3d3d3;
  border-width: thin;
}
.article {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.article:hover {
  background-color: #d3d3d3;
}
.article img {
  width: 35%;
  padding: 1rem;
  height: auto;
}
img {
  max-width: 100%;
  height: auto;
}
.description {
  align-content: center;
}
.description h1 {
  color: #808080;
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: .5rem;
}
.description p {
  color: #808080;
  font-weight: bold;
  font-size: 1rem;
  padding-bottom: .5rem;
}
.description a {
  color: #4682b4;
  font-size: 1rem;
  padding-left: 0;
}
@media only screen and (min-width: 560px) {
  .articles-mobile {
    display: none;
  }
}

/*--->>> Mobile <<<---*/

@media only screen and (max-width: 560px) {
  .news {
    display: none;
  }
  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .articles-mobile {
    margin: 1rem;
  }
  .article-mobile {
    max-width: 480px;
    align-items: center;
    padding-bottom: 1rem;
  }
  .article-mobile img {
    height: auto;
    overflow: hidden;
    padding-bottom: 1rem;
  }
  .description {
    padding-left: 1rem;
  }
}

/*--->>> Section Bottom Middle <<<---*/

.bottom-middle {
  background-color: #d3d3d3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.bottom-middle h1 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #808080;
}
.bottom-mid {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}
.sub-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  height: auto;
  width: 26%;
  background-color: #ffffff;
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  padding-left: 0;
}
.sub-container:hover {
  border-style: solid;
  border-color: #b0c4de;
  border-width: .5rem;
}
.image-course {
  width: 100%;
}
.image-course img {
  display: block;
  overflow: hidden;
  max-width: 100%;
}
.course {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}
.course h2 {
  color: #808080;
  font-weight: bold;
  font-size: 1.5rem;
}
.course p {
  color: #808080;
  font-size: 1rem;
  padding-top: .5rem;
}

/*--->>> Mobile <<<---*/

@media only screen and (max-width: 560px) {
  .image-course {
    display: none;
  }
  .course p {
    display: none;
  }
  .bottom-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-top: solid;
    border-bottom: solid;
    border-width: thin;
    border-color: #d3d3d3;
    margin: 0;
    padding: 0;
  }
  .bottom-mid {
    max-width: 480px;
    padding: 0;
  }
  .sub-container {
    background-color: #808080;
    width: 100%;
  }
  .course h2 {
    color: #ffffff;
  }
}
/*--->>> Section Bottom <<<---*/

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin-left: 0;
}
.bottom h1 {
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #808080;
}
.thesis {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
  height: auto;
  margin-left: 0;
  padding-left: 1.5rem;
}
.bottom-left {
  display: block;
  width: 60%;
  height: auto;
  margin: 0;
}
video {
  max-width: 100%;
  height: auto;
}
.exhibit h2 {
  font-size: 1.5rem;
  color: #808080;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  font-weight: bold;
}
.exhibit p {
  font-size: 1rem;
  color: #808080;
  line-height: 1.2;
  font-weight: bold;
  padding-bottom: 2rem;
  font-style: italic;
}
.bottom-right {
  display: flex;
  flex-direction: column;
  width: 423px;
  align-content: center;
}
.bot-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bot-right:hover {
  background-color: #d3d3d3;
}
.bot-right img {
  width: 35%;
  padding: 1rem;
  height: auto;
}
.fisma {
  align-content: center;
}
.fisma h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #808080;
  padding-bottom: 1rem;
}
.fisma p {
  color: #808080;
  font-size: 1rem;
}

/*--->>> Mobile Bottom <<<---*/

@media only screen and (max-width: 560px) {
  .exhibit {
    display: none;
  }
  .bottom-right {
    display: none;
  }
  .thesis {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .video {
    padding-bottom: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .bottom-left {
    display: flex;
    width: 100%;
  }
}

/*--->>> Footer <<<---*/

footer {
  display: block;
  align-content: center;
  padding-left: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 4rem;
  color: #808080;
  border-top: solid;
  border-width: thin;
  border-color: #d3d3d3;
}
.footer a {
  float: right;
  margin-right: 1rem;
  color: #808080;
}
.footer a:hover {
  color: #b0c4de;
}

/*--->>> Mobile <---*/

@media only screen and (max-width: 560px){
  footer {
    padding: 0;
    margin: 0;
    border: none;
    justify-content: center;
  }
  .footer a {
    display: none;
  }
  .footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
  }
}
